.app {
  height: 100vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "Roboto", sans-serif;
}
.MuiSvgIcon-root {
  height: 40px !important;
  width: 40px !important;
  color: black;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  position: sticky;
  width: 100%;
  top: 0;
  padding: 0px 20px;
}
.header > a > img {
  height: 120px;
  object-fit: contain;
  margin-left: 25%;
}

.searchIcon {
  margin-right: 20px;
}

.body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body > h1 {
  color: red;
  font-size: xxx-large;
  font-weight: 400;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  position: sticky;
  width: 100%;
  bottom: 0;
  padding: 0px 20px;
}

@media (max-width: 500px) {
  .app {
    height: 100vh;
    width: 100%;
  }
  .header {
    padding: 0px 10px;
  }
  .header > a > img {
    height: 100px;
    object-fit: contain;
    margin-left: 27%;
  }
  .MuiSvgIcon-root {
    height: 28px !important;
    width: 28px !important;
    color: black;
  }
  .MuiAvatar-root {
    height: 28px !important;
    width: 28px !important;
  }
}
